# Trabajo práctico N°2

## Objetos y clases en R

R utiliza el concepto de *objetos*. Un objeto es una instancia de una clase, un tipo particular de estructura. Los objetos pueden ser de diferentes tipos y pueden contener diferentes tipos de datos.

Por ejemplo, un `1` es un objeto de tipo *numérico*, mientras que `'Hola'` es un objeto de tipo *caracter*. Note la diferencia en el uso de las comillas simples (').

La función `class()` indica el tipo de objeto de una variable. 

A continuación, ejecute el siguiente código para obtener el tipo de objeto de la una variable numérica.

In [7]:
#Define la variable numérica e imprime el tipo de objeto
numeric_var <- 124

class(numeric_var)

[1] "numeric"

Otras clases frecuentes en R incluyen "character", "integer", y "logical".

### Tu turno!

Complete la siguiente celda agregando los valores indicados en cada asignación de variable `var_*`.

> La función `sprintf` permite formatear texto con marcadores especiales como `%s`, que se corresponden con las variables pasadas como parámetros de la función.

In [3]:
#instancie una variable var_char con el valor '1' (con comillas)
var_char <-  # <- Agregue el valor que asignará a la variable

sprintf('La variable var_char es de tipo: %s', class(var_char))

#Instancie una variable var_int con el valor 1 (sin comillas)
var_int <-  # <- Agregue el valor que asignará a la variable

sprintf('La variable var_char es de tipo: %s', class(var_int))

#Instancie una variable var_int con el valor TRUE
var_bool <-  # <- Agregue el valor que asignará a la variable

sprintf('La variable var_char es de tipo: %s', class(var_bool))

[1] "La variable var_char es de tipo: character"

[1] "La variable var_char es de tipo: numeric"

[1] "La variable var_char es de tipo: logical"

## Estructuras de datos en R

En R, podemos representar una variedad de estructuras que nos permitirán realizar operaciones sobre un conjunto de datos.

Algunas de estas estructuras son:
* variables
* vectores
* matrices
* listas
* dataframes

A continuación se presentan estas estructuras y finalmente se presentan alternativas para la importación y exportación de datos.

### Variables

Las variables representan referencias a posiciones de memoria de algún objeto en R.

Así, la operación de asignación `numeric_var <- 124` crea una variable *numeric_var* que apunta a una posición en memoria cuyo contenido es *124*.

### Vectores

Los **vectores** son objetos que contienen varios elementos de una misma clase. 

Como se mencionó en el trabajo práctico anterior, la definición de un vector se realiza mendiante la función `c()`.

Por ejemplo, el código siguiente crea un vector con los elementos 1, 5 y 124.

In [47]:
c(1, 5, 124)

[1]   1   5 124

Adicionalmente, R presenta una abreviatura para crear secuencias de números mediante el símbolo `:` (dos puntos). 

Esta abreviatura es muy útil para crear vectores con secuencias como el siguiente código.

In [50]:
c(1:10)

 [1]  1  2  3  4  5  6  7  8  9 10

Al igual que un vector puede ser numérico si sus variables contenidas son números, el vector puede tener **otro tipo de datos** de acuerdo a los elementos contenidos. 

Por ejemplo, el vector con los elementos *'1'* y *'Hola'* es un vector de tipo *character* ya que sus elementos están definidos por las comillas (').

In [142]:
vector_character <- c('1', 'Hola')

class(vector_character)

[1] "character"

¿Y qué ocurre si creamos un vector con distintos clases de objetos?, por ejemplo:

In [66]:
vector_character <- c(1, 'Hola', TRUE)

El vector `c(1, 'Hola', TRUE)` contiene una variable *numéric* (`1`), una variable *character* (`'Hola'`), y una varibale *logical* (`TRUE`). Sin embargo, al revisar su contenido:

In [68]:
vector_character

[1] "1"    "Hola" "TRUE"

Observamos que los elementos fueron *convertidos* al tipo *character*. Esto es así por la definición de *vector* en R.

Recuerde utilizar la función de ayuda para conocer sobre la implementación de una función, por ejemplo: `help(c)`

In [52]:
#Obtener ayuda de la función c()
help(c)

### Tu turno!

Se requiere generar un listado con los días de la semana (Lunes, Martes, Miércoles, Jueves, y Viernes). Recuerde usar las comillas para indicar que se trata de un texto (ej: 'Lunes')

In [4]:
#Instancie una variable de tipo vector con los día de la semana.
dias_semana <- #Ingrese aquí el código

ERROR: Error in parse(text = x, srcfile = src): <text>:3:0: unexpected end of input
1: #Instancie una variable de tipo vector con los día de la semana.
2: dias_semana <- #Ingrese aquí el código
  ^

### Listas

Las **listas** son estructuras que permiten almacenar un conjunto de datos en el orden en que se ingresan. 

Para generar una lista se utiliza la función `list()` cuyo parámetro debe ser un elemento, vector o una secuencia de elementos

El siguiente código crea una lista

In [88]:
#Crear una lista con la secuencia del 1 al 5
list(c(1,2,3,4,5))

[[1]]
[1] 1 2 3 4 5

In [85]:
list(1:4)

[[1]]
[1] 1 2 3 4

Note que el código anterior crea una lista (1), esto nos indica que es posible crear listas de listas con la misma función.

In [98]:
#Crea una lista con tres listas consecutivas
list(1:3, 4:7, c('Juan', 'Pedro', 'Verónica'))

[[1]]
[1] 1 2 3

[[2]]
[1] 4 5 6 7

[[3]]
[1] "Juan"     "Pedro"    "Verónica"

Una parte de una lista (slice) dada puede ser accedida indicando el índice de la posición de cada parte. 
Estos índices se indican entre corchetes `[]` a continuación del nombre de la lista.

In [153]:
#Obtiene el tercer elemento de una lista
listas <- list(1:3, 4:7, c('Juan', 'Pedro', 'Verónica'))
listas[3]

[[1]]
[1] "Juan"     "Pedro"    "Verónica"

Asismimo, es posible acceder a los elementos de cada lista, proporcionando un vector con los índices. Este vector pude indicarse con la función `c()`, o bien con dobles corchetes `[[]]`.

A continuación se presentan algunos ejemplos.

In [5]:
#Obtiene el segundo elemento de la tercera lista de una lista
listas <- list(1:3, 4:7, c('Juan', 'Pedro', 'Verónica'))

print("Obtiene el primer elemento de la lista. Devuelve una lista")
listas[1] 

print("Obtiene los elementos 1 y 3 de la lista. Devuelve una lista")
listas[c(1,3)]

print("Obtiene el primer miembro de la lista. Devuelve un vector")
listas[[1]] #Obtiene el primer elemento  de la lista, y devuelve una lista

print("Obtiene el primer miembro de la lista. Devuelve el primer elemento un vector")
listas[[1]][1] #Obtiene el primer elemento  de la lista, y devuelve una lista

[1] "Obtiene el primer elemento de la lista. Devuelve una lista"

[[1]]
[1] 1 2 3

[1] "Obtiene los elementos 1 y 3 de la lista. Devuelve una lista"

[[1]]
[1] 1 2 3

[[2]]
[1] "Juan"     "Pedro"    "Verónica"

[1] "Obtiene el primer miembro de la lista. Devuelve un vector"

[1] 1 2 3

[1] "Obtiene el primer miembro de la lista. Devuelve el primer elemento un vector"

[1] 1

### Tu turno!

Se requiere crear una lista con los días de la semana. Luego, utilice la función `print()` para imprimir el tercer día de la semana.

In [8]:
#Cree una lista con los días de la semana
dias_semana <- list('Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes') #Ingrese aquí su código

#imprima el tercer día de la semana
print() #Complete el parámetro de la función con el tercer elemento de la lista dias_semana

[[1]]
[1] "Miércoles"

### Matrices

Las *matrices* son estructuras de datos bidimensionales. Estas estructuras pueden crearse con la función `matrix()` en la que el parámetro principal es un vector. Adicionalmente se pueden indicar los parámetros que definen el número de columnas `ncols` y el número de filas `nrows`. El parámetro `byrow` indica si debe organizar los datos por filas `=TRUE` o por columnas `=FALSE`.

El siguiente código crea una matriz de 3 x 3 con datos del 1 al 9

In [18]:
matrix(c(1,2,3,4,5,6,7,8,9), nrow=3, ncol=3, byrow=TRUE)

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

Asimismo, una matriz en R pueden contener distintos tipos de datos.

El siguiente ejemplo genera una matriz con nombres de personas y edades

In [37]:
matrix(c('Pedro', 35,  'Juan', 26,  'Verónica', 27), nrow=3, ncol=2, byrow=TRUE)

     [,1]     [,2]
[1,] Pedro    35
[2,] Juan     26
[3,] Verónica 27

Adicionalmente, podemos definir nombres para las columnas y también para las filas. Éstos se indican con el parámetro 
`dimnames` el cual recibe una lista (ver a continuación).

A continuación se crea una matriz conde se agregan nombres de columnas y se numeran las filas.

In [9]:
matrix(c('Pedro', 35,  'Juan', 26,  'Verónica', 27), nrow=3, ncol=2, byrow=TRUE, dimnames=list(c(1:3),c('nombre', 'edad')))

  nombre   edad
1 Pedro    35
2 Juan     26
3 Verónica 27

### Tu turno!

Se requiere generar una matriz con los días de la semana (Lunes a Domingo), y el número correspondiente al día de la semana (1 para Lunes, 2 para Martes, etc.).

La matriz debe tener 7 filas (días), y 2 columnas (nombres y números).

In [11]:
#Instancie una matriz con dos columnas, de modo tal que
#en la primer columna se indiquen los nombres de los días de la semana de Lunes a Domingo,
#en la segunda columna se indiquen los números correspondientes a cada día.

#Ingrese su código aquí

### Dataframes

Una estructura especial que se define R es la de los **dataframes**. 
Un dataframe tiene una estructura similar a la de una matrix, sin embargo, su clase implementa varias funcionalidades que permiten realizar varias operaciones de distintos tipos sobre sus datos contenidos. 

Esta estructura se representa por un conjunto de vectores de igual longitud. 

Para instanciar un dataframe se utiliza la función `data.frame()` y se indica como parámetro al conjunto de datos. Este conjunto de datos puede ser un vector, o conjunto de vectores de igual longitud. Asimismo, es posible indicar el nombre de cada vector correspondiente al nombre de la columna del dataframe.

El siguiente código crea un dataframe con dos columnas (nombre y edad)

In [15]:
data.frame(nombre=c('Juan', 'Pedro', 'Verónica'), edad=c(35, 26, 27))

  nombre   edad
1 Juan     35
2 Pedro    26
3 Verónica 27

Un dataframe de ejemplo que viene incorporado en R es el de `mtcars`. 

Su contenido puede consultarse invocando a la variable.

In [13]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

### Tu turno!

Se requiere generar un dataframe con los días de la semana y sus números correspondientes (lunes a viernes, y 1 al 5). 

Utilice la función `data.frame()` para generar el dataframe.

In [17]:
data.frame(dia=c('lunes', 'martes', 'miercoles'), numero=c(1:3))

  dia       numero
1 lunes     1
2 martes    2
3 miercoles 3